* {
    margin: 0 auto;
}

header {
    padding: 0 140px 0 140px;
}

.banner {
    font-family: "Merriweather", serif;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    text-align: center;
    background-image: url("/resources/Rectangle\ 15.png"), url("/resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 230px 345px 175px 345px;
}

.new-year {
    font-size: 32px;
}

.banner-title {
    font-size: 72px;
}

/* main  */

main {
    padding: 0 140px 0 140px;
}

.off-section {
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 120px 400px 0 400px;
}


.discount-text {
    color: red;
    font-size: 88px;
}

.holiday-deals {
    margin-top: 48px;
}

.holiday-deals-text {
    color: red;
    margin-bottom: 16px;
    font-size: 24px;
}

.categories {
    font-size: 48px;
    margin-bottom: 48px;
}

/* midnight-party */

.midnight-party-wrapper {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/resources/Vector.png"), url("/resources/Vectorrr.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 65px 130px;
}

.midnight-party {
    width: 45%;
}

.midnight-party-title {
    color: #FFFFFF;
    font-size: 64px;
    font-family: "Merriweather", serif;
    margin-bottom: 24px;
}

.midnight-party-detail {
    color: rgba(255, 255, 255, 0.807);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin-bottom: 48px;
}

.join-btn {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #FF0000;
    padding: 16px 32px;
    border: 0;
    border-radius: 10px;
}

/* address time date */

.address-time-date {
    margin: 120px 140px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0.075);
    padding: 100px 385px;
    border-radius: 16px;
}

.address-detail {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    display: grid;
    gap: 25px;
    text-align: center;
    margin-bottom: 48px;
}

.address-detail span {
    color: #FF0000;
}

/* coming soon */

.coming-soon {
    background-image: url("/resources/Ellipse\ 2.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 100px 140px;
    gap: 100px;
}

.best-offer h3 {
    font-family: "Inter", sans-serif;
    color: red;
    font-size: 24px;
    margin-bottom: 16px;
}

.best-offer h1 {
    font-size: 48px;
    font-family: "Merriweather", serif;
    margin-bottom: 22px;
}

.best-offer p {
    color: #555555;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}

.year h1 {
    color: red;
    font-size: 48px;
    font-family: "Inter", sans-serif;
    margin-bottom: 16px;
}

.year p {
    color: #555555;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-bottom: 22px;
}

/* the best gift */

.best-gift {
    padding: 100px 140px;

}

.best-gift-header h3 {
    color: red;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    display: grid;
    margin-bottom: 16px;
}

.best-gift-header h1 {
    font-family: "Merriweather", serif;
    font-size: 48px;
    margin-bottom: 22px;
}

.best-gift-header p {
    font-family: "Inter", sans-serif;
    color: #555555;
    font-size: 20px;
    margin-bottom: 48px;
}

.gift-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    transition: .5s;
}

.item:hover {
    box-shadow: 5px 5px 40px;
}

/* subscribe  */
.subscribe {
    background-color: rgba(255, 0, 0, 0.075);
    padding: 80px 212px;
    margin: 0px 140px 120px 140px;
    border-radius: 16px;
}

.subscribe-detail h1 {
    font-family: "Merriweather", serif;
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 22px;
}

.subscribe-detail {
    display: grid;
    align-items: center;
    justify-content: center;
}

.subscribe-detail p {
    color: #555555;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-bottom: 48px;
    text-align: center;
}

.email-btn {
    text-align: center;
}

.email-field {
    font-size: 20px;
    border: none;
    border-radius: 50px 0 0 50px;
    width: 400px;
    padding: 25px 30px;
}

.subscribe-btn {
    font-size: 20px;
    border: none;
    border-radius: 0 50px 50px 0;
    color: white;
    background-color: red;
    padding: 24px 56px;
}

/* footer section  */

footer {
    color: white;
    font-size: 24px;
    font-family: "Inter", sans-serif;
    background-color: #070211;
    padding: 120px;
}

.contact-address {
    display: flex;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 10px;
}

footer hr {
    border: 1px solid rgb(35, 35, 35);
    margin: 40px 140px;
}

.social {
    text-align: center;
}


.social-item {
    margin-right: 24px;
}

.copyright {
    display: flex;
}